/* \\wsl.localhost\Ubuntu\home\musea7xd\mis_proyectos\ctex-web\src\index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



:root { --font-sans: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
body { font-family: var(--font-sans); }
